pipeline/pipeline_poc.json
{
	"name": "pipeline_poc",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbSqlApiSource",
						"query": "select c.Id,c.name from c where c.Id = 1 or c.Id = 2",
						"preferredRegions": [],
						"detectDatetime": true
					},
					"dataset": {
						"referenceName": "InputCollections",
						"type": "DatasetReference",
						"parameters": {
							"DbName": "CountriesDatabase",
							"CollectionName": "countries"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetVariableName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Name",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "CosmosDbSqlApiSource",
									"query": " select * from c where c.country_id = 1",
									"preferredRegions": []
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings",
										"filePattern": "setOfObjects"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "InputCollections",
									"type": "DatasetReference",
									"parameters": {
										"DbName": "StatesDatabae",
										"CollectionName": "States"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json1",
									"type": "DatasetReference",
									"parameters": {
										"fileName": "test.json"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Id": {
				"type": "String"
			},
			"Name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}